:root {
    /** Spacing system **/
    --dataloom-spacing--xs: 2px;
    --dataloom-spacing--sm: 4px;
    --dataloom-spacing--md: 8px;
    --dataloom-spacing--lg: 12px;
    --dataloom-spacing--xl: 16px;
    --dataloom-spacing--2xl: 24px;
    --dataloom-spacing--3xl: 36px;
    --dataloom-spacing--4xl: 48px;

    --dataloom-cell-spacing-x: var(--dataloom-spacing--sm);
    --dataloom-cell-spacing-y: var(--dataloom-spacing--lg);
    --dataloom-cell-min-height: 1.9rem;

    /** Font system **/
    --dataloom-font-size--xs: 0.8rem;
    --dataloom-font-size--sm: 0.9rem;
    --dataloom-font-size--md: 1rem;
    --dataloom-font-size--lg: 1.1rem;
    --dataloom-font-size--xl: 1.3rem;
}

/* Obsidian theme variables */
/* ------------------------ */
body {
    /* Animations */
    --anim-duration-none: 0;
    --anim-duration-superfast: 70ms;
    --anim-duration-fast: 140ms;
    --anim-duration-moderate: 300ms;
    --anim-duration-slow: 560ms;
    --anim-motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    --anim-motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
    --anim-motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --anim-motion-swing: cubic-bezier(0, 0.55, 0.45, 1);
    /* Blockquotes */
    --blockquote-border-thickness: 2px;
    --blockquote-border-color: var(--interactive-accent);
    --blockquote-font-style: normal;
    --blockquote-color: inherit;
    --blockquote-background-color: transparent;
    /* Bold */
    --bold-weight: var(--font-semibold);
    --bold-color: inherit;
    /* Borders */
    --border-width: 1px;
    /* Buttons */
    --button-radius: var(--input-radius);
    /* Callouts */
    --callout-border-width: 0px;
    --callout-border-opacity: 0.25;
    --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
    --callout-radius: var(--radius-s);
    --callout-blend-mode: var(--highlight-mix-blend-mode);
    --callout-title-color: inherit;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-content-padding: 0;
    --callout-content-background: transparent;
    --callout-bug: var(--color-red-rgb);
    --callout-default: var(--color-blue-rgb);
    --callout-error: var(--color-red-rgb);
    --callout-example: var(--color-purple-rgb);
    --callout-fail: var(--color-red-rgb);
    --callout-important: var(--color-cyan-rgb);
    --callout-info: var(--color-blue-rgb);
    --callout-question: var(--color-orange-rgb);
    --callout-success: var(--color-green-rgb);
    --callout-summary: var(--color-cyan-rgb);
    --callout-tip: var(--color-cyan-rgb);
    --callout-todo: var(--color-blue-rgb);
    --callout-warning: var(--color-orange-rgb);
    --callout-quote: 158, 158, 158;
    /* Canvas */
    --canvas-background: var(--background-primary);
    --canvas-card-label-color: var(--text-faint);
    --canvas-color-1: var(--color-red-rgb);
    --canvas-color-2: var(--color-orange-rgb);
    --canvas-color-3: var(--color-yellow-rgb);
    --canvas-color-4: var(--color-green-rgb);
    --canvas-color-5: var(--color-cyan-rgb);
    --canvas-color-6: var(--color-purple-rgb);
    --canvas-dot-pattern: var(--color-base-30);
    /* Code */
    --code-white-space: pre-wrap;
    --code-radius: var(--radius-s);
    --code-size: var(--font-smaller);
    --code-background: var(--background-primary-alt);
    --code-normal: var(--text-muted);
    --code-comment: var(--text-faint);
    --code-function: var(--color-yellow);
    --code-important: var(--color-orange);
    --code-keyword: var(--color-pink);
    --code-operator: var(--color-red);
    --code-property: var(--color-cyan);
    --code-punctuation: var(--text-muted);
    --code-string: var(--color-green);
    --code-tag: var(--color-red);
    --code-value: var(--color-purple);
    /* Collapse icons */
    --collapse-icon-color: var(--text-faint);
    --collapse-icon-color-collapsed: var(--text-accent);
    /* Cursor */
    --cursor: default;
    --cursor-link: pointer;
    /* Dialogs - e.g. small modals, confirmations */
    --dialog-width: 560px;
    --dialog-max-width: 80vw;
    --dialog-max-height: 85vh;
    /* Dividers â€” between panes */
    --divider-color: var(--background-modifier-border);
    --divider-color-hover: var(--interactive-accent);
    --divider-width: 1px;
    --divider-width-hover: 3px;
    --divider-vertical-height: calc(100% - var(--header-height));
    /* Dragging */
    --drag-ghost-background: rgba(0, 0, 0, 0.85);
    --drag-ghost-text-color: #fff;
    /* Embeds */
    --embed-max-height: 4000px;
    --embed-canvas-max-height: 400px;
    --embed-background: inherit;
    --embed-border-left: 2px solid var(--interactive-accent);
    --embed-border-right: none;
    --embed-border-top: none;
    --embed-border-bottom: none;
    --embed-padding: 0 0 0 var(--size-4-6);
    --embed-font-style: inherit;
    /* Blocks */
    --embed-block-shadow-hover: 0 0 0 1px var(--background-modifier-border),
    inset 0 0 0 1px var(--background-modifier-border);
    /* File layout */
    --file-line-width: 700px;
    --file-folding-offset: 24px;
    --file-margins: var(--size-4-8);
    --file-header-font-size: var(--font-ui-small);
    --file-header-font-weight: 400;
    --file-header-border: var(--border-width) solid transparent;
    --file-header-justify: center;
    /* Relative font sizes */
    --font-smallest: 0.8em;
    --font-smaller: 0.875em;
    --font-small: 0.933em;
    /* UI font sizes */
    --font-ui-smaller: 12px;
    --font-ui-small: 13px;
    --font-ui-medium: 15px;
    --font-ui-large: 20px;
    /* Font weights */
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /* Footnotes */
    --footnote-size: var(--font-smaller);
    /* Graphs */
    --graph-controls-width: 240px;
    --graph-text: var(--text-normal);
    --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
    --graph-node: var(--text-muted);
    --graph-node-unresolved: var(--text-faint);
    --graph-node-focused: var(--text-accent);
    --graph-node-tag: var(--color-green);
    --graph-node-attachment: var(--color-yellow);
    /* Headings */
    --heading-formatting: var(--text-faint);
    --heading-spacing: calc(var(--p-spacing) * 2.5);
    --h1-color: inherit;
    --h2-color: inherit;
    --h3-color: inherit;
    --h4-color: inherit;
    --h5-color: inherit;
    --h6-color: inherit;
    --h1-font: inherit;
    --h2-font: inherit;
    --h3-font: inherit;
    --h4-font: inherit;
    --h5-font: inherit;
    --h6-font: inherit;
    --h1-line-height: 1.2;
    --h2-line-height: 1.2;
    --h3-line-height: 1.3;
    --h4-line-height: 1.4;
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);
    --h1-size: 1.802em;
    --h2-size: 1.602em;
    --h3-size: 1.424em;
    --h4-size: 1.266em;
    --h5-size: 1.125em;
    --h6-size: 1em;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;
    --h1-weight: 700;
    --h2-weight: 600;
    --h3-weight: 600;
    --h4-weight: 600;
    --h5-weight: 600;
    --h6-weight: 600;
    /* View header */
    --header-height: 40px;
    /* Horizontal rules */
    --hr-color: var(--background-modifier-border);
    --hr-thickness: 2px;
    /* Icons */
    --icon-size: var(--icon-m);
    --icon-stroke: var(--icon-m-stroke-width);
    --icon-xs: 14px;
    --icon-s: 16px;
    --icon-m: 18px;
    --icon-l: 18px;
    --icon-xl: 32px;
    --icon-xs-stroke-width: 2px;
    --icon-s-stroke-width: 2px;
    --icon-m-stroke-width: 1.75px;
    --icon-l-stroke-width: 1.75px;
    --icon-xl-stroke-width: 1.25px;
    --icon-color: var(--text-muted);
    --icon-color-hover: var(--text-muted);
    --icon-color-active: var(--text-accent);
    --icon-color-focused: var(--text-normal);
    --icon-opacity: 0.85;
    --icon-opacity-hover: 1;
    --icon-opacity-active: 1;
    --clickable-icon-radius: var(--radius-s);
    /* Indentation guide */
    --indentation-guide-width: 1px;
    --indentation-guide-width-active: 1px;
    --indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
    --indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
    /* Inline title */
    --inline-title-color: var(--h1-color);
    --inline-title-font: var(--h1-font);
    --inline-title-line-height: var(--h1-line-height);
    --inline-title-size: var(--h1-size);
    --inline-title-style: var(--h1-style);
    --inline-title-variant: var(--h1-variant);
    --inline-title-weight: var(--h1-weight);
    --inline-title-margin-bottom: 0.5em;
    /* Inputs */
    --input-height: 30px;
    --input-radius: 5px;
    --input-font-weight: var(--font-normal);
    --input-border-width: 1px;
    /* Italic */
    --italic-color: inherit;
    --italic-weight: inherit;
    /* Z-index */
    --layer-cover: 5;
    --layer-sidedock: 10;
    --layer-status-bar: 15;
    --layer-popover: 30;
    --layer-slides: 45;
    --layer-modal: 50;
    --layer-notice: 60;
    --layer-menu: 1065;
    --layer-tooltip: 1070;
    --layer-dragged-item: 1080;
    /* Line heights */
    --line-height-normal: 1.5;
    --line-height-tight: 1.3;
    /* Links */
    --link-color: var(--text-accent);
    --link-color-hover: var(--text-accent-hover);
    --link-decoration: underline;
    --link-decoration-hover: underline;
    --link-decoration-thickness: auto;
    --link-external-color: var(--text-accent);
    --link-external-color-hover: var(--text-accent-hover);
    --link-external-decoration: underline;
    --link-external-decoration-hover: underline;
    --link-external-filter: none;
    --link-unresolved-color: var(--text-accent);
    --link-unresolved-opacity: 0.7;
    --link-unresolved-filter: none;
    --link-unresolved-decoration-style: solid;
    --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
    /* Lists */
    --list-indent: 2em;
    --list-spacing: 0.075em;
    --list-marker-color: var(--text-faint);
    --list-marker-color-hover: var(--text-muted);
    --list-marker-color-collapsed: var(--text-accent);
    --list-bullet-border: none;
    --list-bullet-radius: 50%;
    --list-bullet-size: 0.3em;
    --list-bullet-transform: none;
    --list-numbered-style: decimal;
    /* File navigator */
    --nav-item-size: var(--font-ui-small);
    --nav-item-color: var(--text-muted);
    --nav-item-color-hover: var(--text-normal);
    --nav-item-color-active: var(--text-normal);
    --nav-item-color-selected: var(--text-normal);
    --nav-item-color-highlighted: var(--text-accent-hover);
    --nav-item-background-hover: var(--background-modifier-hover);
    --nav-item-background-active: var(--background-modifier-hover);
    --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.15);
    --nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-6);
    --nav-item-parent-padding: var(--nav-item-padding);
    --nav-item-children-padding-left: var(--size-2-2);
    --nav-item-children-margin-left: var(--size-4-3);
    --nav-item-weight: inherit;
    --nav-item-weight-hover: inherit;
    --nav-item-weight-active: inherit;
    --nav-item-white-space: nowrap;
    --nav-indentation-guide-width: var(--indentation-guide-width);
    --nav-indentation-guide-color: var(--indentation-guide-color);
    --nav-collapse-icon-color: var(--collapse-icon-color);
    --nav-collapse-icon-color-collapsed: var(--text-faint);
    /* Modals - e.g. settings, community themes, community plugins */
    --modal-background: var(--background-primary);
    --modal-width: 90vw;
    --modal-height: 85vh;
    --modal-max-width: 1100px;
    --modal-max-height: 1000px;
    --modal-max-width-narrow: 800px;
    --modal-border-width: var(--border-width);
    --modal-border-color: var(--color-base-40, var(--background-modifier-border-focus));
    --modal-radius: var(--radius-l);
    --modal-community-sidebar-width: 280px;
    /* Multi-select pills */
    --pill-color: var(--text-muted);
    --pill-color-hover: var(--text-normal);
    --pill-color-remove: var(--text-faint);
    --pill-color-remove-hover: var(--text-accent);
    --pill-decoration: none;
    --pill-decoration-hover: none;
    --pill-background: transparent;
    --pill-background-hover: transparent;
    --pill-border-color: var(--background-modifier-border);
    --pill-border-color-hover: var(--background-modifier-border-hover);
    --pill-border-width: var(--border-width);
    --pill-padding-x: 0.65em;
    --pill-padding-y: 0.25em;
    --pill-radius: 2em;
    --pill-weight: inherit;
    /* Paragraphs */
    --p-spacing: 1rem;
    --p-spacing-empty: 0rem;
    /* PDF view */
    --pdf-background: var(--background-primary);
    --pdf-page-background: var(--background-primary);
    --pdf-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.1);
    --pdf-spread-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --pdf-sidebar-background: var(--background-primary);
    --pdf-thumbnail-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.2);
    /* Prompts - e.g. quick switcher, command palette */
    --prompt-width: 700px;
    --prompt-max-width: 80vw;
    --prompt-max-height: 70vh;
    --prompt-border-width: var(--border-width);
    --prompt-border-color: var(--color-base-40, var(--background-modifier-border-focus));
    /* Radiuses */
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 12px;
    --radius-xl: 16px;
    /* Ribbon */
    --ribbon-background: var(--background-secondary);
    --ribbon-background-collapsed: var(--background-primary);
    --ribbon-width: 44px;
    --ribbon-padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
    /* Scrollbars */
    --scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
    --scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
    --scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
    /* Search */
    --search-clear-button-color: var(--text-muted);
    --search-clear-button-size: 13px;
    --search-icon-color: var(--text-muted);
    --search-icon-size: 18px;
    --search-result-background: var(--background-primary);
    /* Layout sizing - for padding and margins */
    --size-2-1: 2px;
    --size-2-2: 4px;
    --size-2-3: 6px;
    --size-4-1: 4px;
    --size-4-2: 8px;
    --size-4-3: 12px;
    --size-4-4: 16px;
    --size-4-5: 20px;
    --size-4-6: 24px;
    --size-4-8: 32px;
    --size-4-9: 36px;
    --size-4-12: 48px;
    --size-4-16: 64px;
    --size-4-18: 72px;
    /* Sliders */
    --slider-thumb-border-width: 1px;
    --slider-thumb-border-color: var(--background-modifier-border-hover);
    --slider-thumb-height: 18px;
    --slider-thumb-width: 18px;
    --slider-thumb-y: -6px;
    --slider-thumb-radius: 50%;
    --slider-s-thumb-size: 15px;
    --slider-s-thumb-position: -5px;
    --slider-track-background: var(--background-modifier-border);
    --slider-track-height: 3px;
    /* Status bar */
    --status-bar-background: var(--background-secondary);
    --status-bar-border-color: var(--divider-color);
    --status-bar-border-width: 1px 0 0 1px;
    --status-bar-font-size: var(--font-ui-smaller);
    --status-bar-text-color: var(--text-muted);
    --status-bar-position: fixed;
    --status-bar-radius: var(--radius-m) 0 0 0;
    --status-bar-scroll-padding: calc(var(--status-bar-font-size) + 18px);
    /* Swatch for color inputs */
    --swatch-radius: 14px;
    --swatch-height: 24px;
    --swatch-width: 24px;
    --swatch-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.15);
    /* Tabs */
    --tab-background-active: var(--background-primary);
    --tab-text-color: var(--text-faint);
    --tab-text-color-active: var(--text-muted);
    --tab-text-color-focused: var(--text-muted);
    --tab-text-color-focused-active: var(--text-muted);
    --tab-text-color-focused-highlighted: var(--text-accent);
    --tab-text-color-focused-active-current: var(--text-normal);
    --tab-font-size: var(--font-ui-small);
    --tab-font-weight: inherit;
    --tab-container-background: var(--background-secondary);
    --tab-divider-color: var(--background-modifier-border-hover);
    --tab-outline-color: var(--divider-color);
    --tab-outline-width: 1px;
    --tab-curve: 6px;
    --tab-radius: var(--radius-s);
    --tab-radius-active: 6px 6px 0 0;
    --tab-width: 200px;
    --tab-max-width: 320px;
    /* Stacked tabs */
    --tab-stacked-pane-width: 700px;
    --tab-stacked-header-width: var(--header-height);
    --tab-stacked-font-size: var(--font-ui-small);
    --tab-stacked-font-weight: 400;
    --tab-stacked-text-align: left;
    --tab-stacked-text-transform: rotate(0deg);
    --tab-stacked-text-writing-mode: vertical-lr;
    --tab-stacked-shadow: -8px 0 8px 0 rgba(0, 0, 0, 0.05);
    /* Tables */
    --table-background: transparent;
    --table-border-width: 1px;
    --table-border-color: var(--background-modifier-border);
    --table-white-space: normal;
    --table-header-background: var(--table-background);
    --table-header-background-hover: inherit;
    --table-header-border-width: var(--table-border-width);
    --table-header-border-color: var(--table-border-color);
    --table-header-font: inherit;
    --table-header-size: var(--font-text-size);
    --table-header-weight: var(--bold-weight);
    --table-header-color: var(--text-normal);
    --table-line-height: var(--line-height-tight);
    --table-text-size: inherit;
    --table-text-color: inherit;
    --table-column-max-width: none;
    --table-column-alt-background: var(--table-background);
    --table-column-first-border-width: var(--table-border-width);
    --table-column-last-border-width: var(--table-border-width);
    --table-row-background-hover: var(--table-background);
    --table-row-alt-background: var(--table-background);
    --table-row-last-border-width: var(--table-border-width);
    /* Tags */
    --tag-size: var(--font-smaller);
    --tag-color: var(--text-accent);
    --tag-color-hover: var(--text-accent);
    --tag-decoration: none;
    --tag-decoration-hover: none;
    --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
    --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
    --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
    --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
    --tag-border-width: 0px;
    --tag-padding-x: 0.65em;
    --tag-padding-y: 0.25em;
    --tag-radius: 2em;
    --tag-weight: inherit;
    /* Window frame */
    --titlebar-background: var(--background-secondary);
    --titlebar-background-focused: var(--background-secondary-alt);
    --titlebar-border-width: 0px;
    --titlebar-border-color: var(--background-modifier-border);
    --titlebar-text-color: var(--text-muted);
    --titlebar-text-color-focused: var(--text-normal);
    --titlebar-text-weight: var(--font-bold);
    /* Toggles */
    --toggle-border-width: 2px;
    --toggle-width: 40px;
    --toggle-radius: 18px;
    --toggle-thumb-color: white;
    --toggle-thumb-radius: 18px;
    --toggle-thumb-height: 18px;
    --toggle-thumb-width: 18px;
    --toggle-s-border-width: 2px;
    --toggle-s-width: 34px;
    --toggle-s-thumb-height: 15px;
    --toggle-s-thumb-width: 15px;
    /* Vault name */
    --vault-name-font-size: var(--font-ui-small);
    --vault-name-font-weight: var(--font-medium);
    --vault-name-color: var(--text-normal);
    /* Workspace */
    --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.6);
    /* Color mappings ------------------------ */
    /* Accent HSL values */
    --accent-h: 258;
    --accent-s: 88%;
    --accent-l: 66%;
    /* Backgrounds */
    --background-primary: var(--color-base-00);
    --background-primary-alt: var(--color-base-10);
    --background-secondary: var(--color-base-20);
    --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
    --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
    --background-modifier-border: var(--color-base-30);
    --background-modifier-border-hover: var(--color-base-35);
    --background-modifier-border-focus: var(--color-base-40);
    --background-modifier-error-rgb: var(--color-red-rgb);
    --background-modifier-error: var(--color-red);
    --background-modifier-error-hover: var(--color-red);
    --background-modifier-success-rgb: var(--color-green-rgb);
    --background-modifier-success: var(--color-green);
    --background-modifier-message: rgba(0, 0, 0, 0.9);
    /* Inputs */
    --background-modifier-form-field: var(--color-base-00);
    /* Text */
    --text-normal: var(--color-base-100);
    --text-muted: var(--color-base-70);
    --text-faint: var(--color-base-50);
    --text-on-accent: white;
    --text-on-accent-inverted: black;
    --text-error: var(--color-red);
    --text-warning: var(--color-orange);
    --text-success: var(--color-green);
    --text-selection: hsla(var(--color-accent-hsl), 0.2);
    --text-highlight-bg-rgb: 255, 208, 0;
    --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
    --text-accent: var(--color-accent);
    --text-accent-hover: var(--color-accent-2);
    --interactive-normal: var(--color-base-00);
    --interactive-hover: var(--color-base-10);
    --interactive-accent-hsl: var(--color-accent-hsl);
    --interactive-accent: var(--color-accent-1);
    --interactive-accent-hover: var(--color-accent-2);
}
body[data-theme="light"] {
    color-scheme: light;
    --highlight-mix-blend-mode: darken;
    --mono-rgb-0: 255, 255, 255;
    --mono-rgb-100: 0, 0, 0;
    --color-red-rgb: 233, 49, 71;
    --color-red: #e93147;
    --color-orange-rgb: 236, 117, 0;
    --color-orange: #ec7500;
    --color-yellow-rgb: 224, 172, 0;
    --color-yellow: #e0ac00;
    --color-green-rgb: 8, 185, 78;
    --color-green: #08b94e;
    --color-cyan-rgb: 0, 191, 188;
    --color-cyan: #00bfbc;
    --color-blue-rgb: 8, 109, 221;
    --color-blue: #086ddd;
    --color-purple-rgb: 120, 82, 238;
    --color-purple: #7852ee;
    --color-pink-rgb: 213, 57, 132;
    --color-pink: #d53984;
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5c5c5c;
    --color-base-100: #222222;
    --color-accent-hsl: var(--accent-h),
    var(--accent-s),
    var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(var(--accent-h) - 1), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075));
    --color-accent-2: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --background-secondary-alt: var(--color-base-05);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-cover: rgba(220, 220, 220, 0.4);
    --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 3px 0 rgba(0,0,0,.05),
    0 1px 1.5px 0 rgba(0,0,0,.03),
    0 1px 2px 0 rgba(0,0,0,.04),
    0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17),
    0 2px 3px 0 rgba(0,0,0,.1),
    0 1px 1.5px 0 rgba(0,0,0,.03),
    0 1px 2px 0 rgba(0,0,0,.04),
    0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028),
    0px 3.4px 6.7px rgba(0, 0, 0, .042),
    0px 15px 30px rgba(0, 0, 0, .07);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
}
body[data-theme="dark"] {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #fb464c;
    --color-orange-rgb: 233, 151, 63;
    --color-orange: #e9973f;
    --color-yellow-rgb: 224, 222, 113;
    --color-yellow: #e0de71;
    --color-green-rgb: 68, 207, 110;
    --color-green: #44cf6e;
    --color-cyan-rgb: 83, 223, 221;
    --color-cyan: #53dfdd;
    --color-blue-rgb: 2, 122, 255;
    --color-blue: #027aff;
    --color-purple-rgb: 168, 130, 255;
    --color-purple: #a882ff;
    --color-pink-rgb: 250, 153, 205;
    --color-pink: #fa99cd;
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-100: #dadada;
    --color-accent-hsl: var(--accent-h),
    var(--accent-s),
    var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --text-accent: var(--color-accent-1);
    --interactive-accent: var(--color-accent);
    --interactive-accent-hover: var(--color-accent-1);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0,0,0,.15),
    0 1px 1.5px 0 rgba(0,0,0,.1),
    0 1px 2px 0 rgba(0,0,0,.2),
    0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0,0,0,.3),
    0 1px 1.5px 0 rgba(0,0,0,.2),
    0 1px 2px 0 rgba(0,0,0,.4),
    0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
}
button.dataloom-button {
    -webkit-app-region: no-drag;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-normal);
    font-size: var(--font-ui-small);
    border-radius: var(--button-radius);
    border: 0;
    padding: var(--size-4-1) var(--size-4-3);
    height: var(--input-height);
    font-weight: var(--input-font-weight);
    cursor: var(--cursor);
    font-family: inherit;
    outline: none;
    user-select: none;
    white-space: nowrap;
}
button.dataloom-button:not(.clickable-icon) {
    background-color: var(--interactive-normal);
    box-shadow: var(--input-shadow);
}
@media (hover: hover) {
    button.dataloom-button:hover {
        background-color: var(--interactive-hover);
        box-shadow: var(--input-shadow-hover);
    }
}
button[aria-disabled='true'] {
    background-color: var(--interactive-normal);
}
button.dataloom-button:focus-visible {
    box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}
button.dataloom-button[disabled="true"] {
    cursor: not-allowed;
}
button.mod-cta {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}
@media (hover: hover) {
    button.mod-cta:hover {
        background-color: var(--interactive-accent-hover);
    }
}
button.mod-cta:focus-visible {
    box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}
button.mod-muted {
    background-color: var(--background-secondary);
    color: var(--text-muted);
}
@media (hover: hover) {
    button.mod-muted:hover {
        background-color: var(--background-secondary);
    }
}
button.mod-warning {
    background-color: var(--background-modifier-error);
    color: var(--text-on-accent);
}
@media (hover: hover) {
    button.mod-warning:hover {
        background-color: var(--background-modifier-error-hover);
    }
}
button.mod-destructive {
    color: var(--text-error);
}
/* class applies to select element itself, not a wrapper element */
select,
.dropdown {
    -webkit-app-region: no-drag;
    height: var(--input-height);
    font-size: var(--font-ui-small);
    font-family: inherit;
    font-weight: var(--input-font-weight);
    color: var(--text-normal);
    line-height: var(--line-height-tight);
    padding: 0 1.9em 0 0.8em;
    max-width: 100%;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 0;
    box-shadow: var(--input-shadow);
    border-radius: var(--input-radius);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--interactive-normal);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
}
@media (hover: hover) {
    select:hover,
    .dropdown:hover {
        box-shadow: var(--input-shadow-hover);
        background-color: var(--interactive-hover);
    }
}
select:focus,
.dropdown:focus {
    box-shadow: 0 0 0px 3px var(--background-modifier-border-focus);
    outline: none;
}
.dropdown {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4"%3E%3Cpath fill="%23000" opacity="0.4" d="M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z"/%3E%3C/svg%3E');
}
.theme-dark .dropdown {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4"%3E%3Cpath fill="%23FFF" opacity="0.4" d="M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z"/%3E%3C/svg%3E');
}
/* Set options to normal weight */
.dropdown option {
    font-weight: normal;
    background-color: var(--background-primary);
}
textarea,
input.metadata-input-text,
input[type='date'],
input[type='datetime-local'],
.dataloom-app input[type='text'],
.dataloom-app input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    -webkit-app-region: no-drag;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    color: var(--text-normal);
    font-family: inherit;
    padding: var(--size-4-1) var(--size-4-2);
    font-size: var(--font-ui-small);
    border-radius: var(--input-radius);
    outline: none;
}
@media (hover: hover) {
    textarea:hover,
    input.metadata-input-text:hover,
    input[type='date']:hover,
    input[type='datetime-local']:hover,
    .dataloom-app input[type='text']:hover,
    .dataloom-app input[type='search']:hover,
    input[type='email']:hover,
    input[type='password']:hover,
    input[type='number']:hover {
        border-color: var(--background-modifier-border-hover);
        transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
    }
}
textarea:active,
input.metadata-input-text:active,
input[type='date']:active,
input[type='datetime-local']:active,
input[type='text']:active,
.dataloom-app input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input.metadata-input-text:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='text']:focus,
.dataloom-app input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
    border-color: var(--background-modifier-border-focus);
    transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}
textarea:active,
input.metadata-input-text:active,
input[type='date']:active,
input[type='datetime-local']:active,
input[type='text']:active,
.dataloom-app input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input.metadata-input-text:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='text']:focus,
.dataloom-app input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input.metadata-input-text:focus-visible,
input[type='date']:focus-visible,
input[type='datetime-local']:focus-visible,
input[type='text']:focus-visible,
.dataloom-app input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}
textarea::placeholder,
input.metadata-input-text::placeholder,
input[type='date']::placeholder,
input[type='datetime-local']::placeholder,
input[type='text']::placeholder,
input[type='search']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder {
    color: var(--text-faint);
}
.dataloom-app input[type='text'],
.dataloom-app input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    height: var(--input-height);
}
/* Textarea */
textarea {
    line-height: var(--line-height-tight);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
    pointer-events: none;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Date input */
input[type='date'],
input[type='datetime-local'] {
    font-variant-numeric: tabular-nums;
    position: relative;
}
input[type='date']::-webkit-datetime-edit-text,
input[type='datetime-local']::-webkit-datetime-edit-text {
    color: var(--text-faint);
}
input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: var(--size-4-1);
    opacity: 0.5;
}
input[type='date']::-webkit-datetime-edit-month-field:active,
input[type='datetime-local']::-webkit-datetime-edit-month-field:active,
input[type='date']::-webkit-datetime-edit-month-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-month-field:focus,
input[type='date']::-webkit-datetime-edit-day-field:active,
input[type='datetime-local']::-webkit-datetime-edit-day-field:active,
input[type='date']::-webkit-datetime-edit-day-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-day-field:focus,
input[type='date']::-webkit-datetime-edit-year-field:active,
input[type='datetime-local']::-webkit-datetime-edit-year-field:active,
input[type='date']::-webkit-datetime-edit-year-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-year-field:focus {
    background-color: var(--text-selection);
    color: var(--text-normal);
    cursor: text;
}
body:not(.is-ios):not(.is-android) input[type='date'],
body:not(.is-ios):not(.is-android) input[type='datetime-local'] {
    padding-left: var(--size-4-6);
}
/* Range slider */
input[type='range'] {
    width: 100px;
    -webkit-appearance: none;
    background-color: var(--slider-track-background);
    border-radius: var(--slider-track-height);
    height: var(--slider-track-height);
    padding: 0;
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--slider-thumb-height);
    width: var(--slider-thumb-width);
    border-radius: var(--slider-thumb-radius);
    cursor: default;
    background: #FFF;
    border: var(--slider-thumb-border-width) solid var(--slider-thumb-border-color);
    position: relative;
    top: var(--slider-thumb-y);
    transition: all 0.1s linear;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05), 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}
input[type='range']::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:active {
    background: white;
    border-color: var(--background-modifier-border-focus);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1), 0 2px 3px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.1s linear;
}
body:not(.is-mobile) input[type=range]:focus {
    box-shadow: none;
}
body:not(.is-mobile) input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05), 0 2px 3px 0px rgba(0, 0, 0, 0.2);
}
body:not(.is-mobile) input[type=range]:focus-visible::-webkit-slider-thumb {
    border-color: var(--background-modifier-border-focus);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05), 0 2px 3px 0px rgba(0, 0, 0, 0.2), 0 0 0px 2px var(--background-modifier-border-focus);
}
/* Color inputs */
input[type="color"] {
    -webkit-appearance: none;
    width: calc(var(--swatch-width) + 4px);
    background-color: transparent;
    border: none;
    cursor: var(--cursor);
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 2px;
}
input[type="color"]::-webkit-color-swatch {
    border: 0px;
    box-shadow: var(--swatch-shadow);
    border-radius: var(--swatch-radius);
    height: var(--swatch-height);
    width: var(--swatch-width);
    align-self: center;
}
@media (hover: hover) {
    input[type="color"]::-webkit-color-swatch:hover {
        box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25), 0 0 0 3px var(--background-modifier-border-hover);
    }
}
input[type="color"]:focus-visible::-webkit-color-swatch,
input[type="color"]:focus::-webkit-color-swatch {
    box-shadow: var(--swatch-shadow), 0 0 0 3px var(--background-modifier-border-focus);
}
.checkbox-container {
    -webkit-app-region: no-drag;
    cursor: var(--cursor);
    background-color: var(--background-modifier-border-hover);
    border-radius: var(--toggle-radius);
    display: inline-block;
    flex-shrink: 0;
    height: calc(var(--toggle-thumb-height) + var(--toggle-border-width) * 2);
    position: relative;
    user-select: none;
    width: var(--toggle-width);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.07), inset 0 0 1px rgba(0, 0, 0, 0.21);
    transition: box-shadow 0.15s ease-in-out, outline 0.15s ease-in-out, border 0.15s ease-in-out, opacity 0.15s ease-in-out;
    outline: 0 solid var(--background-modifier-border-focus);
}
.checkbox-container input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    left: 0;
}
.checkbox-container:focus-within {
    outline: var(--toggle-border-width) solid var(--background-modifier-border-focus);
}
@media (hover: hover) {
    .checkbox-container:hover {
        box-shadow: inset 0 6px 20px rgba(0, 0, 0, 0.14), inset 0 0 1px rgba(0, 0, 0, 0.28);
    }
}
.checkbox-container.is-enabled {
    background-color: var(--interactive-accent);
}
.checkbox-container.is-enabled:after {
    transform: translate3d(calc(var(--toggle-width) - var(--toggle-thumb-width) - var(--toggle-border-width)), 0, 0);
}
.checkbox-container.is-enabled:active:after {
    left: -4px;
}
.checkbox-container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.checkbox-container:after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    background-color: var(--toggle-thumb-color);
    width: var(--toggle-thumb-width);
    height: var(--toggle-thumb-height);
    margin: var(--toggle-border-width) 0 0 0;
    border-radius: var(--toggle-thumb-radius);
    transition: transform 0.15s ease-in-out, width 0.1s ease-in-out, left 0.1s ease-in-out;
    left: 0;
    transform: translate3d(var(--toggle-border-width), 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.checkbox-container:active:after {
    width: calc(var(--toggle-thumb-width) + var(--toggle-border-width));
}
.checkbox-container.mod-small {
    width: var(--toggle-s-width);
    height: calc(var(--toggle-s-thumb-height) + var(--toggle-s-border-width) * 2);
}
.checkbox-container.mod-small:focus-within {
    outline: var(--toggle-s-border-width) solid var(--background-modifier-border-focus);
}
.checkbox-container.mod-small:after {
    width: var(--toggle-s-thumb-width);
    height: var(--toggle-s-thumb-height);
    margin: var(--toggle-s-border-width) 0 0 0;
    transform: translate3d(var(--toggle-s-border-width), 0, 0);
}
.checkbox-container.mod-small.is-enabled:after {
    transform: translate3d(calc(var(--toggle-s-width) - var(--toggle-s-thumb-width) - var(--toggle-s-border-width)), 0, 0);
}
.checkbox-container.mod-small:active:after {
    width: calc(var(--toggle-s-thumb-width) + var(--toggle-s-border-width));
}
/* Add this attribute to the element that needs a tooltip */
.tooltip {
    animation: pop-down 200ms forwards ease-in-out;
    box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
    background-color: var(--background-modifier-message);
    border-radius: var(--radius-s);
    color: #FAFAFA;
    font-size: var(--font-ui-smaller);
    font-weight: var(--font-medium);
    left: 50%;
    line-height: var(--line-height-tight);
    max-width: 300px;
    padding: 4px 8px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    z-index: var(--layer-tooltip);
    pointer-events: none;
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: anywhere;
}
.tooltip.mod-right {
    animation: pop-right 200ms forwards ease-in-out;
    transform: translateY(-50%);
}
.tooltip.mod-left {
    animation: pop-right 200ms forwards ease-in-out;
    transform: translateY(-50%);
}
.tooltip.mod-error {
    width: 200px;
    background-color: var(--background-modifier-error);
    color: var(--text-on-accent);
}
.tooltip.mod-wide {
    max-width: 450px;
    width: 400px;
}
/* Triangle hack to make tooltip look like a speech bubble */
.tooltip .tooltip-arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 0;
    margin-left: -5px;
    border-bottom: 5px solid var(--background-modifier-message);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
.tooltip.mod-right .tooltip-arrow {
    top: calc(50% - 5px);
    left: -5px;
    border-right: 5px solid var(--background-modifier-message);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.tooltip.mod-left .tooltip-arrow {
    top: calc(50% - 5px);
    left: calc(100% + 5px);
    border-left: 5px solid var(--background-modifier-message);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.tooltip.mod-top .tooltip-arrow {
    top: calc(100%);
    border-top: 5px solid var(--background-modifier-message);
    border-bottom: 5px solid transparent;
}
.tooltip.mod-error .tooltip-arrow {
    border-bottom-color: var(--background-modifier-error);
}
.tooltip.mod-error.mod-right .tooltip-arrow {
    border-right-color: var(--background-modifier-error);
    border-bottom: 5px solid transparent;
}
.tooltip.mod-error.mod-left .tooltip-arrow {
    border-left-color: var(--background-modifier-error);
    border-bottom: 5px solid transparent;
}
[aria-label] .svg-icon {
    pointer-events: none;
}
@keyframes pop-down {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(1);
    }
    20% {
        opacity: 0.7;
        transform: translateX(-50%) scale(1.02);
    }
    40% {
        opacity: 1;
        transform: translateX(-50%) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}
@keyframes pop-right {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(1);
    }
    20% {
        opacity: 0.7;
        transform: translateY(-50%) scale(1.02);
    }
    40% {
        opacity: 1;
        transform: translateY(-50%) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}
* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    text-rendering: optimizeLegibility;
    line-height: var(--line-height-tight);
    font-size: var(--font-ui-medium);
    background-color: var(--background-primary);
    color: var(--text-normal);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body.is-translucent {
    background-color: transparent;
}
body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
body [contenteditable="true"],
body [contenteditable=""] {
    user-select: text;
    -webkit-user-select: text;
}
body.is-grabbing iframe:not(.is-controlled),
body.is-grabbing webview {
    pointer-events: none;
}

